* {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
background-color: navy;
background-image: url(../img/Pi.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
}

img {
  box-shadow: 0 5px 10px black;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #2077dd;
  color: gold;
  border-bottom: darkgreen 8px solid;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.header h1 {
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
}

.header li {
  display: inline;
}

.header a {
  font-weight: 900;
  margin: 2vw;
  text-decoration: none;
  color: gold;
}

.Pi h2 {
  color: white;
  font-weight: bolder;
  font-size: 79px;
  margin: auto;
  margin-top: 120px;
  text-shadow: 0px 0px 10px white;
}

main img {
  height: 400px;
  max-width: 100%;
  margin: auto;
}

main h3 {
  color: gold;
  margin: 2vw;
}

section {
  color: gold;
}

section h2 {
color: gold;
margin: 2vw;
}

.section-1 {
  margin-bottom: 100px;
}

.section-1 p {
  margin: 2vw;
}

.section-1 h5 {
  margin-top: 40px;
}

.counter {
  margin: 2vw;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2077dd;
  color: gold;
  border-top: darkgreen 8px solid;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 40px;
}

.social {
  margin: 2vw;
}

#links {
  font-size: xx-large;
}

.link_list a {
  text-decoration: none;
  color: white;
  font-size: larger;
}

.fa {
  color: gold;
  font-size: xx-large;
  text-decoration: none;
  margin: 1vw;
  text-shadow: 5px 5px 2px white;
}